$themeName: 'ThemeDark';
$textColor: rgba(255, 255, 255, 0.8);
$fallingColor: #e85050;
$risingColor: #3fa7e1;
$textColorSecondary: rgba(255, 255, 255, 0.4);

$backgroundTab: #1b1c26;
$bodyBackground: #15161d;
$lightBackground: #1b1c26;
$lightGrey: #51525b;
$borderColor: #292c38;
$tabBackground: #21232d;
$toolbarChart: #21232d;
$fontFamily: Open Sans;
$gridBackground: $bodyBackground;
$background: #292c38;
$backgroundAdditional: #333643;

$placeholder: #a9abaf;
$iconHover: #3f4045;
$iconChartHover: white;
