$themeName: 'ThemeLight';
$textColor: #15161d;
$fallingColor: #ff0001;
$risingColor: #008000;
$textColorSecondary: rgba(21, 22, 29, 0.4);

$backgroundTab: #e1e3e9;
$bodyBackground: #ebecf0;
$lightBackground: #f1f2f7;
$lightGrey: #51525b;
$borderColor: white;
$tabBackground: #fafafc;
$toolbarChart: #eeeff2;
$fontFamily: Open Sans;
$gridBackground: $borderColor;
$background: #fff;
$backgroundAdditional: #fff;

$placeholder: #a9abaf;
$iconHover: black;
$iconChartHover: #bdbec3;
